#translateButton {
    position: absolute;
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10000;
    font-size: 12px;
  }
  